* {
  box-sizing: border-box;
}

.html {
  height: 100vh;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 100%;
  margin: 0;
  padding: 1rem;
  background-color: hsl(161, 20%, 60%);
}

.main {
  flex: 1;
}

.main,
.header,
.footer {
  margin: 0 auto;
}

.header,
.footer {
  max-width: 60ch;
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
}

.title,
.subtitle,
.footer-text {
  margin: 0;
}

.calculator {
  height: 30rem;
  padding: 1rem;
  max-width: 24rem;
  border: 0.2rem solid hsl(0, 0%, 0%);
  border-radius: 0.6rem;
}

.display-and-buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.5rem;
  height: 100%;
}

.display-container {
  grid-column: 1 / 5;
}

.all-clear {
  grid-column: 1 / 4;
}

.github-link {
  text-decoration: none;
  color: hsl(155, 60%, 10%);
}

.github-link:hover {
  text-decoration: underline;
}