* {
  box-sizing: border-box;
}

.html {
  height: 100vh;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 100%;
  margin: 0;
  padding: 1rem;
  background-color: hsl(161, 20%, 60%);
}

.main {
  flex: 1;
}

.main,
.header,
.footer {
  margin: 0 auto;
}

.header,
.footer {
  max-width: 60ch;
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
}

.title,
.subtitle,
.footer-text {
  margin: 0;
}

.calculator {
  min-height: 33rem;
  padding: 1rem;
  max-width: 25rem;
  border: 0.3rem solid hsl(0, 0%, 0%);
  border-radius: 1rem;
}

.display-and-buttons-container {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  height: 100%;
}

.display-container {
  display: flex;
  flex-direction: column;
  height: 5rem;
  width: 100%;
}

.display {
  margin: 0;
}

.display.operator {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  font-family: 'Bungee', monospace;
}

.display.number {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 3;
  font-family: 'Share Tech Mono', monospace;
  font-size: 2.75rem;
}

.button {
  height: 4rem;
}

.button.number:not(.button.number.zero),
.button.operator,
.button.equal {
  flex: 1 0 20%;
}

.button.all-clear,
.button.number.zero {
  flex: 3 0 70%;
}

.github-link {
  text-decoration: none;
  color: hsl(155, 60%, 10%);
}

.github-link:hover {
  text-decoration: underline;
}